.itemContainer {
    background: #034f84;
    margin: 0.3rem;
}

.itemContainer:hover {
    background: #034f99;
}

.itemContainer p {
    color: white;
    display: inline-block;
    margin: 0.5rem 0.4rem;
}

.actionButton {
    display: inline-block;
    float: right;
    background: #f7786b;
    border: none;
    padding: 0.5rem 2rem;
    color: white;
}

.actionButton:hover {
    background: #f7686b;
    color: black;
    cursor: pointer;
}

.inputContainer {
    background: #034f84;
    margin: 2rem 0.3rem 0.3rem;
}

.inputContainer input {
    display: inline-block;
    margin: 0.4rem;
}
